body{
    text-align: center;
}
#playground span{
    width: 30px;
    height: 30px;
    border-bottom:  2px solid black;
    margin-left: 10px;
    font-size: 20px;
}
label{
    border-bottom: 1px, solid,black;
}
.found{
    visibility: visible;
}
.notFound{
    visibility: hidden;
}

#keyBoard .keyboard{
    border: 1px solid black;
    background-color: lightgray;
    margin: 10px ;
    font-size: 50px;
}